<%- include('partials/header.ejs') %>

<h1>Edit Book Details</h1>
<hr>
<form action="/edit/<%= book.book_id %>" method="POST" class="add-form">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="<%= book.title %>" required>

    <label for="author">Author:</label>
    <input type="text" id="author" name="author" value="<%= book.author %>" required>

    <label for="notes">Notes:</label>
    <textarea id="notes" name="notes"><%= book.notes %></textarea>

    <label for="rating">Rating (1-5):</label>
    <input type="number" id="rating" name="rating" min="1" max="5" value="<%= book.rating %>">

    <label for="read_date">Read Date:</label>
    <input type="date" id="read_date" name="read_date" value="<%= book.read_date.toISOString().substring(0, 10) %>">

    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" name="isbn" value="<%= book.isbn %>">

    <button type="submit">Update Book</button>
</form>




<%- include('partials/footer.ejs') %>